*.wav
.DS_Store
*.meta
vid
*.aup
*_data
bak/
!Thunder.wav
!90_rain_with_thunder-44100.wav
!background_sound-44100.wav
!pedal.wav
!melody.wav
!L0*
*.asd
!rec/voices/Kevin4-01.wav
!rec/voices/Kevin4-02.wav
!rec/voices/Kevin4-03.wav
!rec/voices/Kevin4-04.wav
!rec/voices/Kevin4-05.wav
!rec/voices/Kevin4-06.wav
!rec/voices/Kevin4-07.wav
!rec/voices/Kevin4-08.wav
!rec/voices/Kevin4-09.wav
!rec/voices/Kevin4-10.wav
!rec/voices/Mandy3-01.wav
!rec/voices/Mandy3-02.wav
!rec/voices/Mandy3-03.wav
!rec/voices/Mandy3-04.wav
!rec/voices/Mandy3-05.wav
!rec/voices/Mandy3-06.wav
!rec/voices/Mandy3-07.wav
!rec/voices/Mandy3-08.wav
!rec/voices/Mandy3-09.wav
!rec/voices/Mandy3-10.wav
*.app
*.zip